.MessageSection {
    /* height */
    overflow: scroll;
    
}

.MessageSection > textarea::-webkit-scrollbar {
    width: 7px;
  }
  
.MessageSection > textarea::-webkit-scrollbar-track {
    background: #1A1D21;
  }

.ChatAreaInput > textarea::-webkit-scrollbar-thumb {
    background: #797C7E;
  }